*,
*:before,
*:after {
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

#codeInput{
<<<<<<< HEAD
    height:80vh;
    width:60vw;
    vertical-align:top;
    padding-top: 5px;
    padding-left: 5px;
=======
    height:90vh;
    width:90vw;
    vertical-align:top;
    padding-top: 5px;
>>>>>>> main
}